.input-mes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

}

.input-titulo {
  width: 150px;
}

.input-valor {
  width: 100px;
  margin-left: 10px;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}