.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  display: contents;
}

p {
  font-size: 1.2rem;
}

.img-money {
  width: 50px;
  margin-bottom: 20px;
}

.input-box-mes {
  display: flex;
  flex-direction: row;
}

.div-input-mes {
  display: flex;
  align-items: center;
}

.list-organizada {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}


input {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.input-mes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

}

.input-titulo {
  width: 150px;
}

.input-valor {
  width: 100px;
  margin-left: 10px;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


.btn-adicionar {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  background-color: darkolivegreen;
  color: antiquewhite;
}

.btn-excluir {
  margin-right: 30px;
  color: antiquewhite;
  background-color: crimson;
  padding: 5px;
  width: 25px;
}

.btn-passar-prox-mes {
  margin-right: 30px;
  color: antiquewhite;
  background-color: rgb(15, 103, 129);
  padding: 5px;
  width: 25px;
}

.btn-detalhe {
  margin-right: 10px;
  cursor: default;
}

.box-total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragrafo-total {
  margin-top: 0;
}

.footer-creditos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 30px;
}

.footer-creditos img {
  height: 35px;
}