.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  display: contents;
}

p {
  font-size: 1.2rem;
}

.list-organizada {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}


input {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.input-titulo {
  width: 150px;
}

.input-valor {
  width: 100px;
  margin-left: 10px;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


.btn-adicionar {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  background-color: darkolivegreen;
  color: antiquewhite;
}

.btn-excluir {
  margin-right: 40px;
  color: antiquewhite;
  background-color: crimson;
  padding: 5px;
  width: 25px;
}

.box-total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragrafo-total {
  margin-top: 0;
}

.footer-creditos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 30px;
}

.footer-creditos img {
  height: 35px;
}